<<<<<<< HEAD
@for $i from 11 through 40 {
    .fz-#{$i} {
        font-size: #{$i}px;
    }
}

@for $i from 1 through 10 {
    $opacity: 0.1 * $i;
    .opacity-#{$i} {
        opacity: #{$opacity};
    }
=======
@for $i from 11 through 40 {
    .fz-#{$i} {
        font-size: #{$i}px;
    }
}

@for $i from 1 through 10 {
    $opacity: 0.1 * $i;
    .opacity-#{$i} {
        opacity: #{$opacity};
    }
>>>>>>> 1353c804286708e891b02f1a279f6eb97f3e7c9f
}