.discount-percentage{
    h2{
        font-size: 150px;
    }
    .percent{
        font-size: 54px;
    }
    .off{
        font-size: 45px;
    }
}
@media(min-width:768px){
    .responsive-border-right{
        border-right: 1px solid var(--color-body);
    }
}

.home-product-category{
    img{
        height: 360px;
        object-fit: cover;
        @media(min-width:992px){
            height: 550px;
        }
    }
    .content-box {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.3);
    }
}