:root{
    --color-body: #111;
    --color-hotpink: #EACABE;
}
body{
    font-family: 'Twentieth Century', sans-serif;
    color: var(--color-body);
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Plantin', serif;
}
@media(min-width: 1366px){
    .container{
        max-width: 1320px;
    }
}
@media(min-width: 1460px){
    .container{
        max-width: 1400px;
    }
}
.text-dark{
    color: var(--color-body) !important;
}
.text-underline{
    text-decoration: underline !important;
}
.border-bottom-2{
    border-bottom: 2px solid var(--color-body);
}
.border-top-2{
    border-top: 2px solid var(--color-body);
}
.bg-hotpink{
    background-color: var(--color-hotpink);
}